<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>a玩家出牌_.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{108,160}</string>
                <key>spriteSourceSize</key>
                <string>{108,174}</string>
                <key>textureRect</key>
                <string>{{1,1},{108,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flower1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{79,95}</string>
                <key>spriteSourceSize</key>
                <string>{79,111}</string>
                <key>textureRect</key>
                <string>{{307,347},{79,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flower2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{75,111}</string>
                <key>spriteSourceSize</key>
                <string>{79,111}</string>
                <key>textureRect</key>
                <string>{{111,114},{75,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>flower3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{79,107}</string>
                <key>spriteSourceSize</key>
                <string>{79,111}</string>
                <key>textureRect</key>
                <string>{{1,397},{79,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flower4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,3}</string>
                <key>spriteSize</key>
                <string>{61,105}</string>
                <key>spriteSourceSize</key>
                <string>{79,111}</string>
                <key>textureRect</key>
                <string>{{186,343},{61,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>season1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{77,111}</string>
                <key>spriteSourceSize</key>
                <string>{79,111}</string>
                <key>textureRect</key>
                <string>{{224,114},{77,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>season2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{79,95}</string>
                <key>spriteSourceSize</key>
                <string>{79,111}</string>
                <key>textureRect</key>
                <string>{{388,347},{79,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>season3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{67,97}</string>
                <key>spriteSourceSize</key>
                <string>{79,111}</string>
                <key>textureRect</key>
                <string>{{238,406},{67,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>season4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,3}</string>
                <key>spriteSize</key>
                <string>{71,105}</string>
                <key>spriteSourceSize</key>
                <string>{79,111}</string>
                <key>textureRect</key>
                <string>{{412,274},{71,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>suo1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{77,105}</string>
                <key>spriteSourceSize</key>
                <string>{79,111}</string>
                <key>textureRect</key>
                <string>{{527,195},{77,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>suo2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{69,111}</string>
                <key>spriteSourceSize</key>
                <string>{79,111}</string>
                <key>textureRect</key>
                <string>{{759,1},{69,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>suo3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{79,95}</string>
                <key>spriteSourceSize</key>
                <string>{79,111}</string>
                <key>textureRect</key>
                <string>{{469,347},{79,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>suo4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{63,105}</string>
                <key>spriteSourceSize</key>
                <string>{79,111}</string>
                <key>textureRect</key>
                <string>{{79,331},{63,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>suo5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{79,103}</string>
                <key>spriteSourceSize</key>
                <string>{79,111}</string>
                <key>textureRect</key>
                <string>{{82,396},{79,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>suo6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{67,107}</string>
                <key>spriteSourceSize</key>
                <string>{79,111}</string>
                <key>textureRect</key>
                <string>{{194,274},{67,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>suo7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{57,111}</string>
                <key>spriteSourceSize</key>
                <string>{79,111}</string>
                <key>textureRect</key>
                <string>{{81,272},{57,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>suo8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,111}</string>
                <key>spriteSourceSize</key>
                <string>{79,111}</string>
                <key>textureRect</key>
                <string>{{111,1},{79,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>suo9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{79,87}</string>
                <key>spriteSourceSize</key>
                <string>{79,111}</string>
                <key>textureRect</key>
                <string>{{741,195},{79,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tong1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{65,101}</string>
                <key>spriteSourceSize</key>
                <string>{79,111}</string>
                <key>textureRect</key>
                <string>{{627,347},{65,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tong2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,5}</string>
                <key>spriteSize</key>
                <string>{75,95}</string>
                <key>spriteSourceSize</key>
                <string>{79,111}</string>
                <key>textureRect</key>
                <string>{{550,347},{75,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tong3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{77,107}</string>
                <key>spriteSourceSize</key>
                <string>{79,111}</string>
                <key>textureRect</key>
                <string>{{418,195},{77,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tong4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,111}</string>
                <key>spriteSourceSize</key>
                <string>{79,111}</string>
                <key>textureRect</key>
                <string>{{192,1},{79,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tong5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-1}</string>
                <key>spriteSize</key>
                <string>{65,101}</string>
                <key>spriteSourceSize</key>
                <string>{79,111}</string>
                <key>textureRect</key>
                <string>{{694,355},{65,101}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tong6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{71,101}</string>
                <key>spriteSourceSize</key>
                <string>{79,111}</string>
                <key>textureRect</key>
                <string>{{519,274},{71,101}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tong7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,111}</string>
                <key>spriteSourceSize</key>
                <string>{79,111}</string>
                <key>textureRect</key>
                <string>{{273,1},{79,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tong8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{79,105}</string>
                <key>spriteSourceSize</key>
                <string>{79,111}</string>
                <key>textureRect</key>
                <string>{{634,195},{79,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tong9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{77,111}</string>
                <key>spriteSourceSize</key>
                <string>{79,111}</string>
                <key>textureRect</key>
                <string>{{337,114},{77,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wan1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,111}</string>
                <key>spriteSourceSize</key>
                <string>{79,111}</string>
                <key>textureRect</key>
                <string>{{354,1},{79,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wan2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,111}</string>
                <key>spriteSourceSize</key>
                <string>{79,111}</string>
                <key>textureRect</key>
                <string>{{435,1},{79,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wan3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,111}</string>
                <key>spriteSourceSize</key>
                <string>{79,111}</string>
                <key>textureRect</key>
                <string>{{516,1},{79,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wan4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,111}</string>
                <key>spriteSourceSize</key>
                <string>{79,111}</string>
                <key>textureRect</key>
                <string>{{597,1},{79,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wan5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,111}</string>
                <key>spriteSourceSize</key>
                <string>{79,111}</string>
                <key>textureRect</key>
                <string>{{678,1},{79,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wan6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,111}</string>
                <key>spriteSourceSize</key>
                <string>{79,111}</string>
                <key>textureRect</key>
                <string>{{450,114},{79,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wan7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,111}</string>
                <key>spriteSourceSize</key>
                <string>{79,111}</string>
                <key>textureRect</key>
                <string>{{563,114},{79,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wan8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,111}</string>
                <key>spriteSourceSize</key>
                <string>{79,111}</string>
                <key>textureRect</key>
                <string>{{676,114},{79,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wan9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,111}</string>
                <key>spriteSourceSize</key>
                <string>{79,111}</string>
                <key>textureRect</key>
                <string>{{81,191},{79,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wind1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{71,107}</string>
                <key>spriteSourceSize</key>
                <string>{79,111}</string>
                <key>textureRect</key>
                <string>{{303,274},{71,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wind2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{79,109}</string>
                <key>spriteSourceSize</key>
                <string>{79,111}</string>
                <key>textureRect</key>
                <string>{{307,193},{79,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wind3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,111}</string>
                <key>spriteSourceSize</key>
                <string>{79,111}</string>
                <key>textureRect</key>
                <string>{{194,193},{79,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wind4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,2}</string>
                <key>spriteSize</key>
                <string>{73,99}</string>
                <key>spriteSourceSize</key>
                <string>{79,111}</string>
                <key>textureRect</key>
                <string>{{163,406},{73,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wind5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,4}</string>
                <key>spriteSize</key>
                <string>{77,101}</string>
                <key>spriteSourceSize</key>
                <string>{79,111}</string>
                <key>textureRect</key>
                <string>{{727,276},{77,101}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wind6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-4}</string>
                <key>spriteSize</key>
                <string>{69,103}</string>
                <key>spriteSourceSize</key>
                <string>{79,111}</string>
                <key>textureRect</key>
                <string>{{622,276},{69,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wind7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-5}</string>
                <key>spriteSize</key>
                <string>{67,79}</string>
                <key>spriteSourceSize</key>
                <string>{79,111}</string>
                <key>textureRect</key>
                <string>{{694,422},{67,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>侧家出牌.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,49}</string>
                <key>spriteSourceSize</key>
                <string>{49,49}</string>
                <key>textureRect</key>
                <string>{{775,422},{49,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>侧家手牌.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{24,61}</string>
                <key>spriteSourceSize</key>
                <string>{24,63}</string>
                <key>textureRect</key>
                <string>{{581,444},{24,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>侧家杠牌.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{52,47}</string>
                <key>spriteSourceSize</key>
                <string>{52,49}</string>
                <key>textureRect</key>
                <string>{{607,450},{52,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>对家手牌.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,62}</string>
                <key>spriteSourceSize</key>
                <string>{41,62}</string>
                <key>textureRect</key>
                <string>{{455,444},{41,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>对家杠牌.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,61}</string>
                <key>spriteSourceSize</key>
                <string>{39,61}</string>
                <key>textureRect</key>
                <string>{{789,114},{39,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>自己出牌对家出牌对家碰牌 (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{41,60}</string>
                <key>spriteSourceSize</key>
                <string>{41,62}</string>
                <key>textureRect</key>
                <string>{{519,444},{41,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>自己出牌对家出牌对家碰牌.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,72}</string>
                <key>spriteSourceSize</key>
                <string>{46,72}</string>
                <key>textureRect</key>
                <string>{{307,444},{46,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>自己手牌.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{78,116}</string>
                <key>spriteSourceSize</key>
                <string>{78,118}</string>
                <key>textureRect</key>
                <string>{{1,163},{78,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>自己杠牌.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,72}</string>
                <key>spriteSourceSize</key>
                <string>{46,72}</string>
                <key>textureRect</key>
                <string>{{381,444},{46,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>麻将牌.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{76,114}</string>
                <key>spriteSourceSize</key>
                <string>{78,118}</string>
                <key>textureRect</key>
                <string>{{1,281},{76,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>card.png</string>
            <key>size</key>
            <string>{829,506}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:162497d6af91b9cc5be6d12be5f387fd:df444eb56f2fe48180cf2db363fbbcf6:ac15c2787776c146127be3982bd2a622$</string>
            <key>textureFileName</key>
            <string>card.png</string>
        </dict>
    </dict>
</plist>
